GOOGLE_CLOUD_PROJECT=seu-projeto-gcp
MONGODB_URI=mongodb://sua-url-firestore
YOUTUBE_API_KEY=sua_youtube_api_key_aqui
JWT_SECRET=super-secret-key-change-me
SUPERUSER_EMAIL=admin@exemplo.com
DEFAULT_ADMIN_PASSWORD=admin123
